

<h1> BlogTrader </h1>
</br>
<div class="section">
    
    <div class="container">
        <% for blog in @blogs %>
            <div class="card">
                    <div class="card-image"><figure class="image is-4by3"><img <%= image_tag "apothecary-87-Zlr-jJDqmaI-unsplash.jpg"%>></figure></div>
                        <div class="card-header-title"><%= blog.title %></div>
                            <div class="card-content">Monthly revenue: $<%= blog.revenue %></div>
            </div>
        <%end%>          
    </div>
                            
       
    
</div>
