

<h1> BlogTrader </h1>

<%= link_to '<button type="button">Create a Listing</button>'.html_safe, new_blog_path %>

</br>
<div class="section">
    
    <div class="container">
        <% for blog in @blogs %>
            <div class="card">
                    <div class="card-image"><figure class="image is-4by3"><img <%= image_tag blog.picture if blog.picture.attached? %>></figure></div>
                        <div class="card-header-title"><%=link_to blog.title, blog_path(blog.id) %></div>
                            <div class="card-content">Monthly revenue: $<%= blog.revenue %></div>
            </div>
        <%end%>          
    </div>
                            
       
    
</div>
