
<div class="hero is-fullheight-with-navbar">
    <div class="container">
        <div class="notification is-success">
        You've successfully made a payment! <%= link_to "Go To Listings", blogs_path
        %>
        </div>
    </div>
</div>