// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-body {
    background: url(asset_path('bkg-hero-body.jpg')) no-repeat center center/cover
}

.container {
    width: 50px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.listing-container {
    display: flex;
    justify-content: space-around;
    padding: 0px 100px 0px 100px;
    flex-wrap: wrap;

}

.card {
    margin-bottom: 30px;
}

.label {
    margin: 15px 0px 5px 0px;
}

.input {
    margin: 0px; 
}

